{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="{% static "folderTree.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "folderTree.css" %}">

    <title>File selection</title>
    <link rel="stylesheet" type="text/css" href="{% static "upload.css" %}">
</head>
<body>
    <div class="upload_container">
        <h1>Select the <span class="var">{{ var }}</span> file</h1>
        <div id="treeStructure"></div>

        <form action="/reference_upload/" method="POST">
            <input type="text" id="zipPath" name="pathToFile" value="" hidden />
            <input type="submit" value="Confirm" class="confirm_tree"/>
        </form>
    </div>
</body>

<script>
    let structure = [JSON.parse("{{tree | escapejs}}")];

    console.log(structure);
    structure[0].name = "Root folder";
   
    var tree = new Tree(document.getElementById('treeStructure'), {
        navigate: true // allow navigate with ArrowUp and ArrowDown
    });
    tree.on('open', e => console.log('open', e));
    tree.on('select', e => getPathSelected());
    tree.on('action', e => console.log('action', e));
    tree.on('fetch', e => console.log('fetch', e));
    tree.on('browse', e => console.log('browse', e));


    tree.on('created', (e, node) => {
        e.node = node;
    });

    tree.json(structure);


    function getPathSelected() {
        let currently_selected = document.querySelector("#treeStructure .selected");

        if (currently_selected.dataset.type == "file") {
            let path = currently_selected.parentNode.querySelector("summary").textContent + "/" + currently_selected.textContent;
            currently_selected = currently_selected.parentNode;

            while (currently_selected.parentNode.querySelector("summary").textContent != "") {
                path = currently_selected.parentNode.querySelector("summary").textContent + "/" + path;
                currently_selected = currently_selected.parentNode;
            }


            path = path.split(/\/(.+)/)[1];

            path = "{{root_path | escapejs}}" + path;

            console.log(path);

            document.querySelector("#zipPath").value = path;
        }
       
        
    }
</script>
</html>
