{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="{% static "upload.css" %}">
</head>
<body>
<div class="upload_container">
    <h1>Upload the <span class="var">{{ var }}</span> file</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="uploadButton button">
            <input type="file" name="file"/>
            <span>Select a file</span>
        </label>
        <button type="submit" name="submit"><i class="fas fa-upload"></i></button>

    </form>
    <div class="selectedFileDiv">
        <span class="selectedFile"></span>
    </div>
</div>
</body>

<script>

    document.getElementsByName('file')[0].onchange = function () {
        let selectedFile = this.value.split("\\")[this.value.split("\\").length - 1];
        document.getElementsByClassName("selectedFile")[0].innerHTML = "You have selected " + selectedFile;
        document.getElementsByClassName("selectedFileDiv")[0].style.display = "block";

    };

</script>

</html>
