body {
	background: url('/static/images/train.jpg') fixed center;
	 background-size: cover;
    font-family: 'Acme', sans-serif;
}

.upload_container {
	color: white;background-color: rgba(0,0,0,0.7);
padding: 20px;
border-radius: 5px;
width: 50%;
top: 0;
position: fixed;
display: inline-block;
bottom: 0;
right: 0;
left: 0;
height: 150px;
margin: auto;
}

.upload_container * {
	text-align: center;
}

h1 ~ form {
	padding-top: 20px;
}

h1 > .var {
	color: rgb(153,204,255);
}


        .button {
            border: none;
            color: transparent;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: rgba(255, 51, 0, 0.3);
            color: white;
            border: 2px solid #FF3300;
        }

        .button1:hover {
            background-color: #FF3300;
            color: white;
        }

        .button2 {
            background-color: rgba(0, 140, 186, 0.3);
            color: white;
            border: 2px solid #008CBA;
        }

        .button2:hover {
            background-color: #008CBA;
            color: white;
        }


    .button_container {
	margin: auto;
	display: table;
}

h1 ~ .button_container {
	padding-top: 6px;
}
